alabaster==0.7.12
anyio==2.0.2
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.3.1
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
bg-atlasapi==1.0.0
bg-space==0.5.0
bleach==3.2.1
brainrender==2.0.0.0
bs4==0.0.1
cachey==0.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
click-log==0.3.2
colorama==0.4.4
commonmark==0.9.1
cycler==0.10.0
dask==2021.2.0
decorator==4.4.2
defusedxml==0.6.0
deprecation==2.1.0
distlib==0.3.1
Django==3.1.4
django-extensions==3.1.0
django-materializecss-form==1.1.17
docstring-parser==0.7.3
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
freetype-py==2.2.0
future==0.18.2
google==3.0.0
h5py==3.1.0
HeapDict==1.0.1
idna==2.10
imageio==2.9.0
imagesize==1.2.0
ipydatawidgets==4.2.0
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.2
jdcal==1.4.1
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyter-packaging==0.10.4
jupyter-server==1.1.3
jupyterlab==3.0.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.0.0
jupyterlab-widgets==1.0.0
K3D==2.7.4
kiwisolver==1.3.1
magicgui==0.2.6
MarkupSafe==1.1.1
matplotlib==3.3.3
meshio==4.3.9
mistune==0.8.4
morphapi==0.1.2.4
msgpack==1.0.2
myterial==1.0
napari==0.4.5
napari-console==0.0.3
napari-plugin-engine==0.1.9
napari-svg==0.1.4
nbclassic==0.2.5
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
networkx==2.6.2
neurom==1.7.0
notebook==6.1.6
numexpr==2.7.2
numpy==1.21.2
numpydoc==1.1.0
open3d==0.13.0
openpyxl==3.0.5
packaging==20.8
pandas==1.2.0
pandocfilters==1.4.3
parso==0.8.1
pickleshare==0.7.5
Pillow==8.0.1
prometheus-client==0.9.0
prompt-toolkit==3.0.8
psutil==5.8.0
psycopg2==2.9.1
pycparser==2.20
pydantic==1.7.3
Pygments==2.10.0
pyinspect==0.1.0rc0
PyOpenGL==3.1.5
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.5
pyvista==0.31.3
pywin32==300
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
requests==2.25.1
rich==9.11.0
Rtree==0.9.7
scikit-learn==0.24.1
scikit-spatial==6.1.0
scipy==1.5.4
scooby==0.5.7
seaborn==0.11.1
Send2Trash==1.5.0
Shapely==1.7.1
six==1.15.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.1.0
soupsieve==2.2
Sphinx==3.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
tables==3.6.1
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2021.2.1
tomlkit==0.7.2
toolz==0.11.1
tornado==6.1
tqdm==4.56.2
traitlets==5.0.5
traittypes==0.2.1
transforms3d==0.3.1
treelib==1.6.1
trimesh==3.9.28
typing-extensions==3.7.4.3
urllib3==1.26.2
vedo==2020.4.2
virtualenv==20.2.2
vispy==0.6.6
vtk==9.0.1
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1
